<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% assign findAppKey = globals.get.ID | remove: "/_system/apps/" | split: "/" -%}
{% assign appKey = findAppKey[0] -%}
{% include "/_System/apps/{{appKey}}/_assets/app/_head.inc" -%}
</head>
<body data-appKey="{{appKey}}">
{% include "/_System/apps/{{appKey}}/_assets/app/_tabs.inc" %}
<div id="container-body">
  <h1><span>{{appManifest.name}} - Version {{appManifest.version}}</span></h1>
  <h2>Description</h2>
  <p>This app is meant to make improving your meta tags across your website quicker and easier. This app will scan pages and  will show you the relevant data associated with the page so you can discover which items need to be updated.</p>
  <h2>Details</h2>
  <p><strong>This app uses the following default guidelines for evaluating a page:</strong>
  <ol>
    <li>Page Title exists and is between 8 and 70 characters</li>
    <li>Meta Description exists and is less than 160 characters</li>
    <li>URL exists and is less than 70 characters</li>
    <li>URL should not contain a file extension, expect for index files (ex .html)</li>
  </ol>
  </p>
  <p><strong>What gets evaluated?</strong>
	<p>Pages that are live and not set to be excluded from search engines</p>
  <h2>New in Version {{appManifest.version}}</h2>
	<p>{{appManifest.versionNotes}}</p>
  <h2>Past Versions</h2>
	{% if appManifest.versionLog -%}
		{% for version in appManifest.versionLog -%}
	<h5>{{version.number}}</h5>
	<p>{{version.notes}}</p>
		{% endfor -%}
	{% endif -%}
  <h2>Settings</h2>
  <p>Using the settings tab, you can change the values used to evaluate the page data: page title length, meta description length, and URL length</p>
  <h2>Limitations</h2>
	<p>This is a good place to put the limitation of the app</p>
  <h2>Delete App</h2>
  <p>To remove this app from your website, go to the Settings tab and click the Delete button. {% include "/_System/apps/{{appKey}}/_assets/app/_delete-message.inc" %}
</div>
</body>
</html>